  /* ############## sign in FORM ################## */


/* body{
    margin: 0;
    padding: 0;
    background-position:center;
    font-family: sans-serif;

} */

.loginbox{
    width: 320px;
    height: 420px;
    /* background: #000; */
    /* color: blueviolet; */
    top: 30%;
    left: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    z-index: 100;
    opacity: 0;
      transition: opacity 1s;
      -webkit-transition: opacity 1s;
    display: none;
  }
  
  #logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  #logreg-forms .form-signin {
    width: 100%;
    height: 580px;
    max-width: 410px;
    padding: 15px;
    margin: auto;
  }
  #logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  #logreg-forms .form-control:focus { z-index: 2; }
  #logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  #logreg-forms .social-login{
    width:290px;
    margin:10px 13px;
    margin-bottom: 14px;
  }
  #logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    border: lightgreen;
    width:317px;
    font-size: 0.9rem;
  }
  
  #logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
  }
  
  #logreg-form .lines{
    width:200px;
    border:1px solid red;
  }
  
  
  #logreg-forms button[type="submit"]{ margin-top:10px; }
  
  #logreg-forms .facebook-btn{  background-color:#3C589C; }
  
  #logreg-forms .email-btn{ 
    background-color: #f5f2f2;
    color: black;
    border: 1px solid black;
  }
  
  #logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }
  
  #logreg-forms .form-signup .social-btn{ width:210px; }
  
  #logreg-forms .form-signup input { margin-bottom: 2px;}
  
  .form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
  }
  /* .box{
    height: 50px;
    width: 50px;
    border:70px;
    border-color: red;
  } */
  
  
  
  
  
  
  #phone, .btn {
    padding-right: 10px;
    padding-left: 25px;
    margin: 0 0 0 5px;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border .3s;
    width: 90%;
    height: 45px;
    background-color:#f3f3f3;
  
  }
  
  .btns {
  color: #ffffff;
  background-color:#E5595A;
  padding-right: 10px;
    padding-left: 25px;
    margin-top: 8px;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border: none;
    /* border-bottom: solid 2px #c9c9c9; */
    transition: border .3s;
    width: 90%;
    height: 45px;
    border-radius: 5px;
  
  }
  
  .btns:focus, .btns:hover {
  background-color: lightgray;
  border-color: #285E8E;
  }
  
  .btns:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
  
  .alert {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  }
  
  .alert-info {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
  }
  
  .alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  }
  .pb{
    font-size:13px;
    text-align:center;
  }
  .mh{
    font-size: 16px;
  }
  .vr__lines{
    display: flex;
    justify-content: center;
  }
  .vr_line{
    width: 100%;
    height: 1px;
    background-color: rgb(194, 188, 188);
    /* margin: auto 0 auto 30px; */
    margin: auto 0;
  }
  
  .closeIcon{
    font-size: 25px;
    margin-top: 5px;
    height: fit-content;
    cursor: pointer;
  }
  
  .closeIcon:hover {
    background-color: grey;
  
  }
  
  /* Mobile */
  @media (max-width: 320px){
    .vr__lines{
        flex: none;
    }
  }
  @media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:rgb(20, 20, 20);
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .email-btn:after{
        content:'Email';
    }
    
  }